/*
Syntax error: Undefined mixin 'susy'.
        on line 12 of C:/RoR3/dnevnik/app/stylesheets/screen.sass, in `susy'
        from line 12 of C:/RoR3/dnevnik/app/stylesheets/screen.sass

7: //$base-font-size: 14px
8: //$base-line-height: 16px
9: 
10: /* Layout --------------------------------------------------------------
11: 
12: +susy
13: 
14: // change '.container' to match your HTML container element
15: // or @extend it to apply multiple containers on your site.
16: #container
17:   +container

Backtrace:
C:/RoR3/dnevnik/app/stylesheets/screen.sass:12:in `susy'
C:/RoR3/dnevnik/app/stylesheets/screen.sass:12
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.24/lib/sass/tree/mixin_node.rb:74:in `perform!'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.24/lib/sass/tree/node.rb:305:in `_perform'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.24/lib/sass/tree/node.rb:213:in `perform'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.24/lib/sass/tree/node.rb:326:in `block in perform_children'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.24/lib/sass/tree/node.rb:326:in `map'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.24/lib/sass/tree/node.rb:326:in `perform_children'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.24/lib/sass/tree/node.rb:317:in `perform!'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.24/lib/sass/tree/root_node.rb:59:in `perform!'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.24/lib/sass/tree/node.rb:305:in `_perform'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.24/lib/sass/tree/node.rb:213:in `perform'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.24/lib/sass/tree/root_node.rb:37:in `perform'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.24/lib/sass/tree/root_node.rb:29:in `render'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.24/lib/sass/plugin.rb:220:in `update_stylesheet'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.24/lib/sass/plugin.rb:85:in `block (2 levels) in update_stylesheets'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.24/lib/sass/plugin.rb:78:in `each'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.24/lib/sass/plugin.rb:78:in `block in update_stylesheets'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.24/lib/sass/plugin.rb:76:in `each'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.24/lib/sass/plugin.rb:76:in `update_stylesheets'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.24/lib/sass/plugin.rb:50:in `check_for_updates'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.24/lib/sass/plugin/rack.rb:40:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/warden-1.0.2/lib/warden/manager.rb:35:in `block in call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/warden-1.0.2/lib/warden/manager.rb:34:in `catch'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/warden-1.0.2/lib/warden/manager.rb:34:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/actionpack-3.0.3/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/actionpack-3.0.3/lib/action_dispatch/middleware/head.rb:14:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/rack-1.2.1/lib/rack/methodoverride.rb:24:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/actionpack-3.0.3/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/actionpack-3.0.3/lib/action_dispatch/middleware/flash.rb:182:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/actionpack-3.0.3/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/actionpack-3.0.3/lib/action_dispatch/middleware/cookies.rb:295:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:32:in `block in call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/activerecord-3.0.3/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:12:in `cache'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:31:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/activerecord-3.0.3/lib/active_record/connection_adapters/abstract/connection_pool.rb:353:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/actionpack-3.0.3/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/activesupport-3.0.3/lib/active_support/callbacks.rb:415:in `_run_call_callbacks'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/actionpack-3.0.3/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/rack-1.2.1/lib/rack/sendfile.rb:107:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/actionpack-3.0.3/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/actionpack-3.0.3/lib/action_dispatch/middleware/show_exceptions.rb:46:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/railties-3.0.3/lib/rails/rack/logger.rb:13:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/rack-1.2.1/lib/rack/runtime.rb:17:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/activesupport-3.0.3/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/rack-1.2.1/lib/rack/lock.rb:11:in `block in call'
<internal:prelude>:10:in `synchronize'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/rack-1.2.1/lib/rack/lock.rb:11:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/actionpack-3.0.3/lib/action_dispatch/middleware/static.rb:30:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/railties-3.0.3/lib/rails/application.rb:168:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/railties-3.0.3/lib/rails/application.rb:77:in `method_missing'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/railties-3.0.3/lib/rails/rack/log_tailer.rb:14:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/rack-1.2.1/lib/rack/content_length.rb:13:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/rack-1.2.1/lib/rack/handler/webrick.rb:52:in `service'
C:/Ruby192/lib/ruby/1.9.1/webrick/httpserver.rb:111:in `service'
C:/Ruby192/lib/ruby/1.9.1/webrick/httpserver.rb:70:in `run'
C:/Ruby192/lib/ruby/1.9.1/webrick/server.rb:183:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'susy'.\A         on line 12 of C:/RoR3/dnevnik/app/stylesheets/screen.sass, in `susy'\A         from line 12 of C:/RoR3/dnevnik/app/stylesheets/screen.sass\A \A 7: //$base-font-size: 14px\A 8: //$base-line-height: 16px\A 9: \A 10: /* Layout --------------------------------------------------------------\A 11: \A 12: +susy\A 13: \A 14: // change '.container' to match your HTML container element\A 15: // or @extend it to apply multiple containers on your site.\A 16: #container\A 17:   +container"; }
